<!-- task-form.ejs -->
<!-- <form action="/create-task" method="POST">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="description" placeholder="Description">
    <select name="state">
      <option value="todo">To Do</option>
      <option value="inprogress">In Progress</option>
      <option value="done">Done</option>
    </select>
    <input type="text" name="user_id" placeholder="User ID">
    <button type="submit">Create Task</button>
  </form> -->
  <!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>


<h2>Task</h2>
<a href="/views/task/create">Create Task</a>

<form action="/views/task/create" method="post">
    <label for="title">title:</label><br>
    <input type="text" id="title" name="title" value=""><br>
    <label for="description">description:</label><br>
    <input type="text" id="description" name="description" value=""><br>
    <select name="state" id="state" >
      <option value="pending">Pending</option>
      <option value="completed">Completed</option>
    </select>
    <input type="submit" value="Submit">
  </form> 

</body>
</html>